* text=auto eol=lf

*.md diff=markdown
*.php diff=php
*.yml diff=yaml

/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/AGENTS.md export-ignore
/tests export-ignore
/phpunit.xml export-ignore
